body{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/*Base*/
@import 'Base/Reset';
@import 'Base/Mixins';

/*Widget*/
@import "Views/Components/Navbar";
@import 'Views/Components/Profile';
@import 'Views/Components/Suggestions';

/*Site*/
@import 'Views/Home';
