body{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.copyright{
  position: absolute;
  bottom: 0;
  font-family: C059;
  h2{
    color: #ffffff;
  }
  span{
    color: #00ffa6;
  }
  a{
    text-decoration: none;
    color: #ebf5ff;
  }
}

/*Base*/
@import 'Base/Reset';
@import 'Base/Mixins';

/*Widget*/
@import "Views/Components/Navbar";
@import 'Views/Components/Profile';
@import 'Views/Components/Suggestions';

/*Site*/
@import 'Views/Home';
